<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>

    <title>List Product</title>
</head>
<body>

<div layout:fragment="content">
    <!-- Table-->
    <div >
        <h2>All Products</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${listProducts}">
                    <td th:text="${product.id}" ></td>
                    <td th:text="${product.name}" ></td>
                    <td th:text="${product.description}" ></td>
                    <td th:text="${product.type}" ></td>
                    <td th:text="${product.category}" ></td>
                    <td th:text="${product.price}" ></td>
                    <td><a th:href="${'/products/edit/' + product.id}" class="btn btn-outline-secondary" >Edit</a></td>
                    <td><a th:href="${'/products/delete/' + product.id}"  class="btn btn-danger" >Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>



    </div>
</div>


</body>
</html>