<div th:fragment="header">
  <!-- Nav Bar-->
  <nav class="navbar navbar-expand-lg navbar-dark mx-3 mt-1 rounded" style="background-color: #6EB33F;">
    <div class="container-fluid">
      <a class="navbar-brand " href="/">HOME</a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="/products/list">Product List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="/products/create">Create Product</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Jumbotron -->
  <div class="pt-5 pb-3 mx-3 my-4 bg-light rounded-3">
    <div class="container-fluid py-5  ">
      <h1 class="display-5 fw-bold row justify-content-md-center">Spring MVC Crud Application</h1>
      <div class="row justify-content-md-center">
        <img src="/image/spring.png " class="img-fluid" style="max-width: 30%; height: auto;"/>
      </div>
    </div>
  </div>
</div>